pytest~=7.4.0
pytest-bdd~=8.1.0
requests~=2.32.0
selenium~=4.27.0
pymysql~=1.1.1
torch~=2.6.0
brotli~=1.1.0


pandas~=2.2.3
msoffcrypto-tool~=5.4.2
openpyxl~=3.1.5
chardet~=4.0.0
xlrd~=2.0.1
numpy~=2.0.2